
<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Horários</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/horarios.css">

</head>
<body>
    <div class="pagina">

<header>
    <nav class="navbar-custom">
        <div class="container-fluid px-4">

            <!-- LOGO -->
            <a href="apresentacao.html" class="logo">
                <img src="../static/img/logo.png" alt="Logo">
            </a>

            <!-- MENU -->
            <div class="menu-links">
                <a href="apresentacao.html" class="btn-menu">Início</a>
                <a href="consultas.html" class="btn-menu">Consultas</a>
            </div>

            <!-- PERFIL -->
            <a href="carteirinha.html" class="btn-carteirinha">
                <img src="../static/img/cachorro.png"
                     class="dog-img"
                     alt="Perfil">

                <p>Perfil</p>
            </a>

        </div>
    </nav>
</header>
  <main class="container">

        <h1 class="titulo">Nossos Horários</h1>

        <div class="subtitulo">
            <span class="linha"></span>

            <span>Confira nossos horários de atendimento</span>

            <span class="linha"></span>
        </div>


        <!-- CARDS -->

        <section class="horarios">

            <!-- SEGUNDA A SEXTA -->
            <div class="card">

                <div class="icone">🗓️</div>

                <div class="dia">
                    Seg a Sexta
                </div>

                <div class="divisao"></div>

                <div class="hora">
                    09:00 - 20:00
                </div>

                <div class="divisao"></div>

                <div class="descricao">
                    ATENDIMENTO NORMAL
                </div>

            </div>


            <!-- SÁBADO -->
            <div class="card">

                <div class="icone">🗓️</div>

                <div class="dia">
                    Sábado
                </div>

                <div class="divisao"></div>

                <div class="hora">
                    09:00 - 13:00
                </div>

                <div class="divisao"></div>

                <div class="descricao">
                    ATENDIMENTO REDUZIDO
                </div>

            </div>


            <!-- DOMINGO -->
            <div class="card">

                <div class="icone">🔒</div>

                <div class="dia">
                    Domingo
                </div>

                <div class="divisao"></div>

                <div class="hora">
                    Fechado
                </div>

                <div class="divisao"></div>

                <div class="descricao">
                    NÃO ABRIMOS
                </div>

            </div>

        </section>


        <!-- STATUS -->

        <div class="status-area">

            <div class="status" id="status">🔴 FECHADO AGORA</div>

            <div class="proximo" id="proximo">Próximo atendimento hoje às 09:00.</div>

        </div>


        <!-- EMERGÊNCIA -->

        <div class="emergencia">

            <div>
                <h3>🚨 Precisa de atendimento urgente?</h3>

                <p>
                    Entre em contato conosco para receber orientações
                    sobre o atendimento do seu pet.
                </p>
            </div>

            <a href="tel:+5500000000000" class="botao">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-forward-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877zm10.761.135a.5.5 0 0 1 .708 0l2.5 2.5a.5.5 0 0 1 0 .708l-2.5 2.5a.5.5 0 0 1-.708-.708L14.293 4H9.5a.5.5 0 0 1 0-1h4.793l-1.647-1.646a.5.5 0 0 1 0-.708"></path>
                </svg> Ligar agora
            </a>

        </div>

    </main>
<footer>
    <div class="footer-copy">
        Todos os direitos reservados
    </div>

    <div class="footer-icons">
        <a href="#" aria-label="Instagram">
            <i class="bi bi-instagram"></i>
        </a>

        <a href="#" aria-label="Facebook">
            <i class="bi bi-facebook"></i>
        </a>
    </div>
</footer>
</div>
</body>
</html>

